<!-- This page needs to be updated to an "about us" page for the group -->
{% extends 'base.html' %}
{% block title %}Open Software{% endblock %}
{% block css %}
<link , href="{{url_for('static', filename='css/blog.css') }}" rel="stylesheet">
<html lang="en">
{% endblock %}


{% block body %}
<div class="container-fluid theme-showcase" role="main" style="max-width: 75%">
    <div class="jumbotron text-center" style="background-color: transparent; color: white">
        <h1>About Us</h1>
        <!-- May move this description elsewhere -->
        <p style="color: white"> Meet the team
        <p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h2 style="color: white">Matthew Piatt</h2>
                <h5 style="color: white"> ENTRY DESCRIPTION</h5>
                <!-- Add image here -->
                <img class="img-responsive" style="height: 250px; margin-right: 20px"

                src="https://lh3.googleusercontent.com/cTJYhH7l9SCmswGib5ntBP7mfn5mzJPpwzPSKyp-I7w9unefFP3bSul3R0S78BaKvzr2NhTq9_rcJplHVTOYj1b30niMvogKCPtD7R7X_vqzX-k-8oW2vOdcgGDn154HqKdMT0_TrgrdsRB3d5hEZV9gG6tWxQyqUulzbuKi24ZAQT6r8qPXiIsCztXiLNLV6TaZ5WwPLqAMk_pmevdWBjK1Gfvl1Iu6g2gi49Bg8RZf6nys-Lk6cVForyomexWo8vDw7mg3yh11kLiEi396YHKcxfVFcUucVDZ5xHd2HTb0TAvLA_DN9Fgta9tuMuEMty3K00SZ9c1NXSApYy5qvL7z7uMmTcyJ6Zd7EoDr9SmxKZzV9KI9Yeyam_V0PQSVpwPoYKF-lHn8MFCzE-5GvzVsQV7pAt7DT9unyt2qWiFzu7j8_Nbn53K5x34oRcWxrAKqV8TJIIHgEiqjFzMzZ2S8ZNLoNp2Ogp2hyCBaFnmaCytkMXcBnl58TF59jL-jfeRwPgGg-OR-pvb6DhcqVDKap3M5IY2VY5KWu_JU0uHB5eHJWmRsbtaE08DEerC_ufyfqaGEeq8Q30EH3ZYypY6WXjnbml2hcyFUf_GAG4zsh1FHcR8sCEHrGhyY_2gijNFkQ-gBVf4fbvQj1Mgpk_XyA7H8iqRyYuCPErCgXfAjwW9qdqpt9HYH9snp=w1228-h921-no"

                align="left">

                <p style="color: white"> Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It’s
                    not a story the Jedi would tell you. It’s a Sith legend. Darth Plagueis was a Dark Lord of the Sith,
                    so powerful and so wise he could use the Force to influence the midichlorians to create life… He had
                    such a knowledge of the dark side that he could even keep the ones he cared about from dying. The
                    dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so
                    powerful… the only thing he was afraid of was losing his power, which eventually, of course, he did.
                    Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his
                    sleep. Ironic. He could save others from death, but not himself. </p>

            </div>




            <div class="card">
                <h2 style="color: white">Mario Vega</h2>
                <h5 style="color: white"> ENTRY DESCRIPTION</h5>
                <!-- Add image here -->
                
                <img class="img-responsive" style =" height: 250px; margin-right: 20px;"

                src="https://lh3.googleusercontent.com/ztr3Rz07ekITV-LS_IL_E6PyerL6H5nX69oOoDjO26XnRGIsiZurn1mMjkOhDRFVJoMryvOqzMg3lYPrO1gjz8Ny2imkf6IjFFsCtl8DXsOf8TT470APQeRTgkPk2IsJfbo-57-c7gf4pdQ_p0-8yW6_SbNKZAiAvtmhh6eTPq3yLlRvyOR7KSCWV4NR5M82P83af8ClGLFyyPLSZAEyI7dMjsJBDTOjprz8YrYFP8VN7oURnMAaR0tz30B9o0QNTJn76T4npNnNPzwz67FBiIima9TUo1u1Zobx8G65CuLl1_1ZmYtC0vR3FCJXm3ExiwvWhQyyGRDc1xfIa3h6rrdfbHVdXs0mF-Lh9QY_q_8N69HrVvqE9v4jIl8scW_aADLO7yCOg5aJCDlZXlVus4h52IF1apMM1XfGooHaIge-tnsE_7e2xGUTFJY_kTpvvDFDd6MseIqv_8ovFwdqg-oLFsho5kNxkZ_Q9xn63GwPyjC7jCgNjO5BB1Vjbw3bV1X-xpPa6-c2UryMsIiep0CRY5CS2dY8MwqHUbek1SwpTh66u6rDZg9M9aF4fyMwRlievZcp3LEyC70teAdROyHMNmjDFg665HRrZ5BJ9qUeD1fGwrQPjV0vU5iuYvtNtIxK7YBM8HCAtNfEpY1CJR4EKlOKRQ9VL6J9tB3zEYXtUradrHT2m4mn4L1H=w518-h921-no"

                align="left" alt="Picture of Mario Vega">

                <p style="color: white"> Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It’s
                    not a story the Jedi would tell you. It’s a Sith legend. Darth Plagueis was a Dark Lord of the Sith,
                    so powerful and so wise he could use the Force to influence the midichlorians to create life… He had
                    such a knowledge of the dark side that he could even keep the ones he cared about from dying. The
                    dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so
                    powerful… the only thing he was afraid of was losing his power, which eventually, of course, he did.
                    Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his
                    sleep. Ironic. He could save others from death, but not himself. </p>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card">
                <h2 style="color: white">Matthew Halligan</h2>
                <h5 style="color: white"> ENTRY DESCRIPTION</h5>
                <!-- Add image here -->
                <img class="img-responsive" style="height: 250px; max-width: 250px; margin-right: 20px;" 

                src="https://lh3.googleusercontent.com/hlAHOamdwoU-kyelFAGX5LgnAw7IMx4fiPTDiVZ5DLbwVOgMgfMktzKf3ifBEgiGmbwvJN_6pNuhmaDF1t89QYK_ZpbzSGwUZXz5Tihzca728wXJirxR_-wmecwpXn60gAaOUpR2bRefnEn5bR9B_mIjPavRCtXIVQwEmg2EKwXAMp4Z62Cgj0Sn9-aIGzTsbcACSFMCoouvicdCFfr0DmvWHKqPgry0Goes8V4tdzxAxnHJG1cODNlYbm9v34yT0A6u2jj5_LxCTqUVntQuBTHWB-KmsSXJep25sye0CANBCZAGxGy955yxOICeN3wEMrit4o9KqOi-SG1glPEr9l1ZHqKTJGgDhbaz1pr9hPeon0bMpgtrRkTgk6zH2DSdxSBfzmdFe1nWSf5hAzEyGVnHw4wW5n0ut51DjkdODbYRoAirJkgiud95rtqAoOuFsgWDA956FyIl1UmsenzSwdRR0yjzELSBwDthSx-Yy88neOY24fL7eQwDyFeG_juQQr6bEbumQHNmMFdyi5XcoebnEk8z9ctjJOsUpOkJnF3Kz4l12PdINn8Ld6ZdfM-QLUF72rnxsj9G2gHYjzDA2BnXr-IRYp6sjXhpo1P-aqMIb5mnqtZEbtFpS09Ae-Tv2BANyW35nU2bqQ0ZIrNilNbD9mazlBlN9L89TBnF3a_YjN_o6AijNvVEvGmU=w518-h921-no"

                align="left" alt="Picture of Matt H">

                <p style="color: white"> Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It’s
                    not a story the Jedi would tell you. It’s a Sith legend. Darth Plagueis was a Dark Lord of the Sith,
                    so powerful and so wise he could use the Force to influence the midichlorians to create life… He had
                    such a knowledge of the dark side that he could even keep the ones he cared about from dying. The
                    dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so
                    powerful… the only thing he was afraid of was losing his power, which eventually, of course, he did.
                    Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his
                    sleep. Ironic. He could save others from death, but not himself. </p>
            </div>

            <br>

            <div class="card">
                <h2 style="color: white">Ben Caruso</h2>
                <h5 style="color: white"> ENTRY DESCRIPTION</h5>
                <!-- Add image here -->
                <img class="img-responsive" style="height: 250px; margin-right: 20px" 

                src="https://lh3.googleusercontent.com/lnU0gcBhWNivah01tZ7VhYNYpUY7w8Vq3iPbi_angeEh424n1oM5aBCDJEvSv1cghzAPJqK3K3E1qAQl1R5_0ExKdAgANbXnH0y4D993FAIcgxu_by9xlURJmFjCunNBpvXTXQzMV-OyStG08ZLus_q1s--4ilWSIjcUzkol5l4qmOkf38Br4ubVC2OJE6xcpy7dmRKKZ328jVWnNDgxlEpvgiPGB_5qlaHuZqpDZUB_J17S1R6VRDr4VsC1cb6X1LxroqJ-pAl4GSveKa-jVxIq5w6GtDVi_gn_XnI1Z1bmUFQHj8C5XD6zMcFKBoPuKjOq-mxlZgv62tu_yoKlmbZMaEhGXPxo1n3UToaEttU5SiSbNjayvahsdtRW2GpzbzOXJosiROwvtFrxdUlRjc7wulXmtUF_FKJxBFF2AxUxPfPe3ShRmzIBW2alBrwHg1TUMpEx-PPgVsL3lKegry2GdqujMLnVBSX8ND12DIulSkNNueW1RHU2frcPEKDwhNaWpCYzdtFuI9bRPrjPI38CgrOO8_XQRoC1iBs-rGhXoXAtEe62aHSQf89gkLem-kfxHC8sLChTA54ejnaI5jJrPVK7Q-g8ggMtF40kSJyBYjo2FRNV92y9rG_Rf0TVlP_2mH11TNRNQXAF-ckcFn8y6U8DAv8o6YWYTsanufQQw4gYotDEkuTgJ3rr=w691-h921-no" 

                alt="Picture of Ben" align= "left">
                <p style="color: white"> Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It’s
                    not a story the Jedi would tell you. It’s a Sith legend. Darth Plagueis was a Dark Lord of the Sith,
                    so powerful and so wise he could use the Force to influence the midichlorians to create life… He had
                    such a knowledge of the dark side that he could even keep the ones he cared about from dying. The
                    dark side of the Force is a pathway to many abilities some consider to be unnatural. He became so
                    powerful… the only thing he was afraid of was losing his power, which eventually, of course, he did.
                    Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his
                    sleep. Ironic. He could save others from death, but not himself. </p>
            </div>

        </div>
    </div>
    {% endblock %}