{% extends 'base.html' %}
{% block title %}Open Software{% endblock %}

{% block body %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron text-center" style="background-color: transparent;">
        <h1 style="color: white">Contact Us</h1>
        <p style="color: white"><b>Have a bug to report? Service not working? Login issues? Let us know below.</b></p>
    </div>
</div>

<hr>

<div row>

	<div class ="col-md-8 col-md-offset-2" align="center">
		<div class ="panel panel-info" style="max-width: 75%">
			<div class ="panel-body" align="center">
				<form method="POST" action="/contact">
					<div class="form-group row text-center" style="max-width: 75%;">
						<label for="Email" class="col-sm-12 col-form-label">Email</label>
						<div class="form-group">
							<input type="text" id="Email" class="form-control" placeholder="you@example.com" name="email" required>
						</div>
					</div>

					<div class="form-group row text-center" style="max-width: 75%;">
						<label for="topic" class ="col-sm-12 col-form-label">Subject</label>
						<div class="form-group">
							<input type="text" id="Subject" class="form-control" name="subject" required>
						</div>
					</div>

					<div class="form-group row text-center" style="max-width: 75%;">
						<label for="content" class="col-sm-12 col-form-label">How can we help?</label>
						<div class="form-group">
							<textarea type="text" id="Content" class="form-control" rows="5" name="messageContent" required> </textarea>
						</div>
					</div>

					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>

		</div>
	</div>
<!-- This is fake space to move content down, otherwise footer is not pushed to bottom of page -->
<!-- Alternate solution to be implemented? -->
	<div row>
		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>
	</div>

</div>
{% endblock %}