{% extends 'base.html' %}
{% block title %}OpenSoftware{% endblock %}
{% block css %}
<link , href="{{url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
<link , href="{{url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link , href="{{url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container-fluid theme-showcase" role="main">
    <div class="jumbotron text-center">
        <h1 class="title_front">OpenSource</h1>
        <!-- May move this description elsewhere -->
        <p> .........Description goes here............
        <p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div align="left" class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3>Team OpenSource Repo</h3></div>
                <div class="panel-body">
                    <p align="left">Matthew Piatt<span style="float:right"> Ben Caruso</span></p>
                    <p align="left">Mario Vega<span style="float:right"> Matthew Halligan</span></p>
                </div>
            </div>
        </div>
        <div align="center" class="col-sm-6">
            <h3>Search bar/button will go here</h3>
            <form class="form-inline">
                <div class="form-group">
                    <!-- Label for what the user wants to download. May need to change! -->
                    <label for="query"></label>
                    <!-- Need to know what to put for the id -->
                    <input class="form-control" id="" placeholder="Search for..." type="text">
                </div>

                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </form>
        </div>

        <div align="right" class="col-sm-3">
            <h3>Something will go here - maybe a picture?</h3>
        </div>
    </div>

    <br>
    <br>
    <hr>
    <div class="row">
        <p> Maybe a sample of data pertinet to what's in the database?</p>
        <img alt="cool space photo" src="https://i.imgur.com/8yCj0Ao.jpg">
    </div>

</div>

</body>
{% endblock %}