
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" CONTENT="IE=EDGE">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- BootStrap core CSS-->
    # url_for - references static path w/ filename , {{}} - allows you to run a ginja statement
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
    <title>Open SoftWare</title>

</head>
<body>

</body>
</html>