<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta CONTENT="IE=EDGE" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link , href="{{url_for('static', filename='css/main_login.css') }}" rel="stylesheet">
    <title>Open Software</title>

</head>
<body>

<ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a class='Contact' href="{{ url_for('contact') }}">Contact us</a></li>

    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Account</a>
        <div class="dropdown-content">
            <a href="{{ url_for('home') }}">Sign out</a>
            <a href="{{ url_for('home') }}">Delete account</a>
        </div>
    </li>
</ul>

<h3>Dropdown Menu inside a Navigation Bar</h3>
<p>Hover over the "Dropdown" link to see the dropdown menu.</p>

</body>
</html>
