<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta CONTENT="IE=EDGE" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link , href="{{ url_for('static', filename='css/main_login.css') }}" rel="stylesheet">
    link , href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link , href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <title>Open Software</title>
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav navbar-right">
            <li class="home"><a href="{{ url_for('home') }}" id="homeLink">Home</a></li>
            <!-- Pages to be linked later-->
            <li><a class="blog" href="{{ url_for('about') }}">about</a></li>
            <li><a class='Contact' href="{{ url_for('contact') }}">Contact us</a></li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Account</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('home') }}">Sign out</a>
                    <a href="{{ url_for('home') }}">Delete account</a>
                </div>
            </li>
        </ul>
    </nav>
</head>
<body>
<br><br><br><br>
<div row>
<div class="container-fluid">
    <div class="row">
        <div align="left" class="col-sm-3">
            <div class="panel panel-default" style="background-blend-mode: overlay;">
                <div  class="panel-heading text-center"><h3 align="center">Upload File</h3></div>
                <form action="/action_page.php">
                    <h4 align="center" style="color: #a6e1ec">Click a file for upload</h4>
                    <div style="text-align: center">
                    <input type="file" id="myFile" name="filename" style="color: #e0e0e0">
                    <input type="submit">
                        </div>
                    <br><br><br><br>
                </form>
            </div>
        </div>
    </div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
</body>
</html>