{% extends 'base.html' %}
{% block title %}Open Software{% endblock %}
{% block body %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron text-center" style="background-color: transparent;">
        <h1 style="color: white">Sign Up</h1>
        <p style="color: white"><b>Start up now. Create an account below too use our services.</b></p>
    </div>
</div>
<hr>
<div row>
    <div align="center" class="col-md-8 col-md-offset-2">
        <div class="panel panel-info" style="max-width: 75%">
            <div align="center" class="panel-body">
                <form action="{{url_for('sign')}}" method="POST">
                    <div class="form-group row text-center" style="max-width: 75%;">
                        <label class="col-sm-12 col-form-label" for="Email">Email</label>
                        <div class="form-group">
                            <input class="form-control" id="Email" name="email" placeholder="you@example.com"
                                   required type="text">
                        </div>
                    </div>
                    <div class="form-group row text-center" style="max-width: 75%;">
                        <label class="col-sm-12 col-form-label" for="topic">Password</label>
                        <div class="form-group">
                            <input class="form-control" id="password" name="psswrd" required type="password">

                        </div>
                    </div>
                    <div class="form-group row text-center" style="max-width: 75%;"></div>
                    <div class="form-group row text-center" style="max-width: 75%;">
                        <label class="col-sm-12 col-form-label" for="Email">Confirm Password </label>
                        <div class="form-group">
                            <input class="form-control" id="rpassword" name="repeatpsswrd" required type="password">
                            <input onclick="myFunction()" type="checkbox">show Password
                            <script>
                                /* Shows the password when user presses show password using java script  */
                                function myFunction() {
                                    var x = document.getElementById("password");
                                    if (x.type === "password") {
                                        x.type = "text";
                                    } else {
                                        x.type = "password";
                                    }
                                }
                            </script>
                        </div>
                    </div>

                    <button class="btn btn-default" type="submit">Submit</button>
                </form>
            </div>

        </div>
    </div>
    <!-- This is fake space to move content down, otherwise footer is not pushed to bottom of page -->
    <!-- Alternate solution to be implemented? -->
    <div row>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </div>

</div>
{% endblock %}